[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pyyaml = "*"
sqlalchemy = "*"
aiopg = {extras = ["sa"], version = "*"}
alembic = "*"
aiohttp-jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
